<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head.ejs') %>
</head>

<body>
  <header>
    <%- include('../layout/nav.ejs') %>
  </header>

  <main>
    <p>
      <%= error %>
    </p>
  </main>
</body>

</html>